
//  Colors ------------------------
$primary: #4fc08d;
$primary-hover: #1d8c58;
$secondary: rgb(89, 114, 164);
$secondary-active: #34415B;

$gray-light: #ccc;
$gray-med: #666;
$gray-dark: #333;

$link-color: #4fc08d;


$gutter: 15px;

$radius-1: 3px;


